* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #f8fafc;
  padding: 24px;
}

.app {
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
h1 {
  margin-bottom: 20px;
}

/* GRID PRINCIPAL */
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* PLAYER EMBAIXO */
.card-full {
  grid-column: 1 / -1;
}

/* CARDS */
.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.22);
}

.card h2 {
  margin-bottom: 10px;
}

/* METRONOMO */
.bpm-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 15px;
}

.beats {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.dot {
  width: 18px;
  height: 18px;
  background: #475569;
  border-radius: 50%;
}

.active-main {
  background: #22c55e;
  transform: scale(1.4);
}

.active {
  background: #86efac;
}

/* BOTÕES */
button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-1px);
}

/* NOTAS */
.note {
  font-size: 42px;
  text-align: center;
  margin: 20px 0;
}

/* PLAYER */
audio {
  width: 100%;
  margin-top: 10px;
}

input[type="file"] {
  margin-bottom: 10px;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .conteudo {
    grid-template-columns: 1fr;
  }
}